*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/bgc.png);
    background-repeat: none;
    background-size: 100%;
}
.login{
    width: 600px;
    height: 500px;
    background-color: white;
    margin: 100px auto;
    border-radius: 25px;
}
.box{
    width: 460px;
    height: 300px;
    margin: 20px auto;
}
h2,h3,h4,button,span{
    text-align: center;
}
h2{
    padding-top: 20px;
    font-size: 30px;
}
p{
    font-size: 18px;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
.img_list li>img{
    width: 90px;
    height: 80px;
    padding-top: 6px;
}
.username{
    width: 100%;
    height: 40px;
}

.img_list{
    width: 100%;
    height: 180px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
}
ul>li{
    display: inline-block;  
}
.login_btn{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: green;
}
.now{
    border: 2px solid green;
}
a{
    text-decoration: none;
    color: black;
    width: 60px;
    height: 30px;
}
.send_msg{
    display: inline-block;
    font-size: 16px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #7fb80e;
    border-radius: 10px;
}

.centainer{
    width: 900px;
    height: 600px;
    margin: 50px auto;
}
.side_bar{
    width: 30%;
    height: 600px;
    color: #fff;
    background-color: #3e4145;
    float: left;
}
.current_url{
    width: 60px;
    height: 60px;
    position: absolute;
    top:20px;
    left:10px;

}
.info{
    position: absolute;
    top: 20px;
    left: 80px;
    width: 140px;
    line-height: 60px;
    height:60px ;
}
.info h3{
    font-size: 24px;
    text-align: left;
}
.curr_user .user{
    width: 100%;
    height: 42px;
    border: 1px solid #323338 ;
}
.ava{
    width: 42px;
    height: 42px;
    float: left;
    padding-left: 20px;
}
.name{
    float: right;
    width: 200px;
    height: 40px;
    text-align: left;
    line-height: 40px;
}
.right_top,.right_center,.right_bottom{
    width: 70%;
    background-color: #fff;
    float: right;
    border: 1px solid rgb(204, 204, 204);
}

.right_top{
    height: 60px;
}
.right_center{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.right_center::-webkit-scrollbar{
    width: 6px;
    background-color: #fff;
}
.right_center::-webkit-scrollbar-track{
    border-radius: 4px;
}
.right_center::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: pink;
}
.system{
    width: 100%;
    height: 20px;
    margin: 8px auto;
    line-height: 30px;
    text-align: center;
}
.informat{
    width: 100%;
    height: 20px;
    margin: 8px auto;
    font-size: 10px;
    color: darkgray;
}
.right_bottom{
    height: 140px;
    position: relative;
}
h4{
    line-height: 60px;
}
.right_bottom ul>li{
    margin: 4px;
}
.send_box .pp{
    font-size: 12px;
    color: darkgray;
}
.send_box{
    position:absolute;
    right: 20px;
    bottom: 20px;
}
.current{
    position: relative;
    width: 100%;
    height: 100px;
}
.zaixian{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #323338;
    padding-left: 10px;
}
.messa{
    margin-left: 10px;
    width: 100%;
    font-size: 16px;
    font-family: 宋体;
    height: 100px;
    resize: none;
    outline: none;
    border: rgb(204, 204, 204);
}

.users{
    width: 100%;
    height: 60px;
    line-height: 40px;
    padding-left: 25px;
    border: 2px solid #323338;
}

.l-message-box{
    position: relative;
    width: 400px;
    height: 60px;
    float: left;
}
.clearfix::before
.clearfix::after{
    display: table;
    content: " ";
}
.clearfix::after{
    clear: both;
}
.nickname{
    position: absolute;
    top: 40px;
    left:15px ;
    font-size: 12px;
    color: darkgray;
}
.my-message img{
    position: absolute;
    top: 0;
    left:10px ;
}
.contant{
    position: absolute;
    font-size: 16px;
    display: inline-block !important;
    width: auto;
    max-width: 400px;
    height: auto;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 5px;
    top: 0;
    left: 60px;
    background-color: yellowgreen;
}
.r-message-box{
    position: relative;
    width: 400px;
    height: 50px;
    float: right;
}
.clearfix::before
.clearfix::after{
    display: table;
    content: " ";
}
.clearfix::after{
    clear: both;
}
.other-message img{
    position: absolute;
    top: 0;
    right:10px;
}
.other-contant{
    position: absolute;
    font-size: 16px;
    display: inline-block !important;
    width: auto;
    max-width: 400px;
    height: auto;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 5px;
    top: 0;
    right: 60px;
    background-color: yellowgreen;
}

.bubble_cont{
    display: inline-block;
    width: auto;
    max-width: 400px;
    height: auto;
}

.r-fix_img{
    position: relative;
    width: 220px;
    height: 165px;
    float: right;
}
.clearfix::before
.clearfix::after{
    display: table;
    content: " ";
}
.clearfix::after{
    clear: both;
}
.r-fix_im{
    position: absolute;
    top: 0px;
    right: 60px;
}
.r-cont_im{
    position: absolute;
    top: 0px;
    right: 10px;
}
.l-fix_img{
    position: relative;
    width: 220px;
    height: 165px;
    float: left;
}
.clearfix::before
.clearfix::after{
    display: table;
    content: " ";
}
.clearfix::after{
    clear: both;
}
.l-fix_im{
    position: absolute;
    top: 0px;
    left: 60px;
}
.l-cont_im{
    position: absolute;
    top: 0px;
    left: 10px;
}
.l-nickname{
    position: absolute;
    top: 40px;
    left:15px ;
    font-size: 12px;
    color: darkgray;
}
.icon-tubiao-{
    font-size: 25px !important;
}
.icon-ziyuan{
    font-size: 22px !important;
    font-weight: 100px !important;
}